body {
    width: 100%;
    font-size: 25px;
    font-family: Tahoma, sans-serif;
    font-weight: bold;
    text-align: center;
    background-image: url('gooddogo.jpg'); 
    background-size: cover;
    background-attachment: fixed;
    color: #EBEBEB;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #2E2A24;
}

input {
    width: 15%;
    height: 25px;
}

input[type=text] {
    font-size: 25px;
    -webkit-text-stroke-width: 0px;
    -webkit-text-stroke-color: #EBEBEB;
    background-color: #2E2A24;
    color: #EBEBEB;
}

input[type=submit] {
    width: 10em;
    height: 2em;
    font-size: 25px;
    background-color: #348AA7;
    color: #EBEBEB;
    border-color: #2E2A24;
    -webkit-text-stroke-width: 0px;
}
input[type=submit]:hover{
    background-color:#5cafcc;
}
input[type=submit]:active {
    transform: scale(0.98);
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}

select {
    font-size: 20px;
    color: #2E2A24;
    -webkit-text-stroke-width: 0px;
    background-color: #2E2A24;
    color: #EBEBEB;
}

button {
    background-color: green;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 25px;
    padding: 5px;
    size: 30px;
}

h1 {
    color: #2E2A24;
    text-shadow: 1.5px 1.5px #EBEBEB;
}

h2,
h3,
h4 {
    text-align: center;
    color: #EBEBEB;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #2E2A24;

}

table.center {
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #2E2A24;
    width: 90%;
    text-align: center;
    font-size: 20px
}

th {
    background-color: #2E2A24;
    color: #EBEBEB;
    -webkit-text-stroke-width: 0px;
}

tr:nth-child(even) {
    background-color: #A3A3A3;
}

tr:nth-child(odd) {
    background-color: #7A7A7A;
}

tr:hover {
    background-color: #36bceb;
}